---
# Hostname configuration

- name: Configure hostname
  become: true
  block:
    - name: Set hostname
      ansible.builtin.hostname:
        name: "{{ inventory_hostname }}"

    - name: Ensure localhost in /etc/hosts
      ansible.builtin.lineinfile:
        path: /etc/hosts
        regexp: "^127\\.0\\.0\\.1"
        line: "127.0.0.1       localhost"
        owner: root
        group: root
        mode: "0644"

    - name: Ensure hostname in /etc/hosts
      ansible.builtin.lineinfile:
        path: /etc/hosts
        regexp: "^127\\.0\\.1\\.1"
        line: "127.0.1.1       {{ inventory_hostname }} {{ inventory_hostname.split('.')[0] }}"
        owner: root
        group: root
        mode: "0644"
