access_token = '{{ vault_networking_warp[inventory_hostname].access_token }}'
device_id = '{{ vault_networking_warp[inventory_hostname].device_id }}'
license_key = '{{ vault_networking_warp[inventory_hostname].license_key }}'
private_key = '{{ vault_networking_warp[inventory_hostname].private_key }}'
