{{ ansible_managed | comment }}
# Systemd safeguards for scheduled resticprofile jobs

[Service]
# Non-zero exit code (a metered connection is up) will skip the service
ExecCondition=/etc/resticprofile/hooks/check-metered.sh
# Terminate a job that is stuck well beyond its expected runtime
RuntimeMaxSec={{ backup_resticprofile_runtime_max }}
