{{ ansible_managed | comment }}
{% set creds = backup_resticprofile_backend_credentials[backend][ansible_facts['hostname']] %}
{% if creds.get('aws_access_key_id') %}
AWS_ACCESS_KEY_ID="{{ creds.aws_access_key_id }}"
AWS_SECRET_ACCESS_KEY="{{ creds.aws_secret_access_key }}"
{% endif %}
