---
# Uninstall resticprofile

- name: Unschedule all resticprofile timers
  ansible.builtin.command:
    cmd: "{{ resticprofile_bin_path }}/resticprofile unschedule --all"
  changed_when: true
  failed_when: false
  register: resticprofile_unschedule_result

- name: Display unschedule output
  ansible.builtin.debug:
    msg: "{{ resticprofile_unschedule_result.stdout_lines }}"

- name: Systemd daemon-reload after unscheduling
  ansible.builtin.systemd_service:
    daemon_reload: true

- name: Remove resticprofile directories
  ansible.builtin.file:
    path: "{{ item }}"
    state: absent
  loop:
    - /etc/resticprofile
    - /var/lib/resticprofile
    - "{{ resticprofile_path }}"

- name: Remove restic package
  ansible.builtin.dnf:
    name: restic
    state: absent
