[Unit]
Description=Btrfs data top-level mount for snapshot tooling
After=local-fs-pre.target
Before=local-fs.target

[Mount]
What={{ storage_btrfs_device_final }}
Where={{ storage_btrfs_top_mountpoint }}
Type=btrfs
Options={{ storage_btrfs_top_mount_options }}
DirectoryMode=0700

[Install]
WantedBy=local-fs.target
