{{ ansible_managed | comment }}
{% set creds = resticprofile_backend_credentials[backend][ansible_facts['hostname']] %}
RESTIC_PASSWORD="{{ creds.password }}"
{% if creds.get('aws_access_key_id') %}
AWS_ACCESS_KEY_ID="{{ creds.aws_access_key_id }}"
AWS_SECRET_ACCESS_KEY="{{ creds.aws_secret_access_key }}"
{% endif %}
{% if creds.get('b2_account_id') %}
B2_ACCOUNT_ID="{{ creds.b2_account_id }}"
B2_ACCOUNT_KEY="{{ creds.b2_account_key }}"
{% endif %}
