[Unit]
Description=btrbk root subvolume snapshot
Documentation=man:btrbk(1)
Requires=mnt-btrfs_root.mount
After=mnt-btrfs_root.mount

[Service]
Type=oneshot
ExecStart=/usr/bin/btrbk -c /etc/btrbk/btrbk-root.conf run
